<div class="wrapper ">
    <div class="main-panel">
        <!-- Navbar -->
        <div class="container">
        <app-header></app-header>
        <!-- End Navbar -->
        <!-- Main content -->
        <router-outlet></router-outlet>
        </div>
        <!-- <app-dashboard></app-dashboard> -->
        <!-- Main content ENDS -->
        <app-footer></app-footer>
    </div>
</div>