<!-- Footer start -->
<div class="footer-main">
    <div class="footer-inner">
        <div class="row">
            <div class="col-md-12">
                <img src="../assets/img/footer-logo.png" alt="footer-logo"/>
            </div>
        </div>
        <div class="row">
            <!-- footer description section start-->
            <div class="col-md-5">
                <div class="footer-intro">
                    <div class="intro">
                        <p>Vibly enables people to discover and attend live classes that fit their needs<br> and goals in a wide range of categories. We aim to empower experts all over<br> the world to share their skills, reach customers globally, and make money<br> along the way.</p>
                    </div>
                    <div class="share_media">
                        <ul>
                            <li><a href="https://www.facebook.com/" target="_blank"><img src="../assets/img/facebook.png" alt="fb_icon"/></a></li>
                            <li><a href="https://twitter.com/" target="_blank"><img src="../assets/img/twitter.png" alt="tw_icon"/></a></li>
                            <li><a href="https://www.instagram.com/" target="_blank"><img src="../assets/img/instagram.png" alt="insta_icon"/></a></li>
                        </ul>
                    </div>
                </div>
            </div>
             <!-- footer description section end-->
             <div class="col-md-2">
                 <div class="vertical-divider"></div>
             </div>
             <!-- footer newsletter section Start-->
            <div class="col-md-5">
                <div class="footer-newsletter">
                   <h4>Subscribe to our newsletter</h4>
                   <div class="newsletter_main">
                       <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
                        <div class="form-inner">
                       <input formControlName="email" type="text" class="form-control" name="email" placeholder="Email Address">
                       <button type="submit" class="btn subscribe">Subscribe</button>
                        </div>
                       <span class="danger" *ngIf="isSubmitted && formControls['email'].errors" >
                        Email Address Required
                       </span>
                       <span *ngIf="(f['email'].touched || f['email'].dirty) && f['email'].invalid" class="danger">
                          <span *ngIf="f['email'].errors && f['email'].errors['email']">Invalid Email
                          </span>
                       </span>
                    </form>
                   </div>
                </div>
            </div>
            <!-- footer newsletter section End-->
        </div>
    </div>
     <!-- footer copyright section start -->
     <div class="copyright-section">
         <div class="copyright-inner">
        <div class="row">
            <div class="col-md-6">
                <div class="copyright-left">
                    <p>@ {{ year }} vibly.io. <a routerLink="/privacy-policy">Privacy Policy</a> and <a routerLink="/terms-and-condition">Terms and Conditions</a>. All rights reserved.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="copyright-right">
                    <ul>
                        <li><a routerLink="/terms-and-condition">Terms & Conditions</a></li>
                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        </div>
        <!-- footer copyright section end -->
</div>
<!-- Footer End -->