/* You can add global styles to this file, and also import other style files */
body{
    overflow-x: hidden;
}
.footer-main {
    background: #0D213A;
    font-family: 'Lato';
    color: #fff;
}
.footer-inner, .copyright-inner {
    max-width: 1330px;
    margin: 0 auto;
    padding: 50px 15px 35px 15px;
}
.copyright-inner {
    padding: 32px 15px 28px 15px;
}
.intro, .footer-newsletter {
    margin-bottom: 30px;
    margin-top: 30px;
}
.intro p {
    color: #fff;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
}
.share_media ul, .copyright-right ul {
    padding: 0;
}
.share_media li, .copyright-right li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}
.footer-newsletter h4 {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Lato';
}
.vertical-divider{
    height: 40px;
    width: 1px;
    background: #fff;
    margin: 0 auto;
    top: 52px;
    position: relative;
}
.newsletter_main input {
    height: 38px;
    background: transparent;
    border-top: transparent;
    border-right: transparent;
    border-bottom: 1px solid #fff;
    width: 366px;
    color: #fff;
    border-left: transparent;
}
.newsletter_main input:focus {
    outline: none;
    background: transparent;
}
button.btn.subscribe {
    color: #0D213A;
    background: #fff;
    font-weight: 600;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 4px;
    width: 124px;
}
.copyright-inner {
    font-size: 14px;
    font-family: 'Lato';
}
.copyright-section {
    border-top: 1px solid #fff;
}
.copyright-right {
    float: right;
}
.copyright-right ul li:last-child {
    margin-right: 0px !important;
}
.copyright-right ul li a, .copyright-left a {
    color: #fff;
} 
.form-inner {
    display: flex;
}
@media only screen and (min-width:768px) and (max-width:1320px){
    .newsletter_main {
        display: flex;
    }
    .newsletter_main input {
        width: 80%;
    }
    .footer-inner .col-md-2 {
        flex: 0 0 14%;
        max-width: 14%;
    }
    .newsletter_main {
        margin-top: 15px;
    }
}
@media only screen and (max-width:767px){
    .footer-inner .col-md-2 {
        display: none;
    }
    .footer-inner, .copyright-inner {
        text-align: left;
    }
    .copyright-right{
        float: none;
    }
    .newsletter_main {
        margin-top: 15px;
    }
    .copyright-left p {
        text-align: center;
    }
}
@media only screen and (max-width:600px){
.newsletter_main input {
    width: 80%;
}
.copyright-right ul {
    text-align: center;
}
.newsletter_main {
    margin-top: 15px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
}